*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
	background-color: black;
	background-size: cover;
}


.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
	background-color: black;
}

.container:after{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

form{
	margin-top: 8rem;
	background-color: black;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}
.contact-box{
	max-width: 40rem;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: lightgray;
	box-shadow: 2px 2px 20px 5px rgba(169, 169, 169, 0.19);
	border-radius: 18px;
}

.logo{
	height: 100px;
	width: 100px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.right1{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	color: black;
}


 h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
}

.field{
	width: 90%;
	border: 3px solid rgba(0, 0, 0, 0);
	outline: none;
	border-radius: 18px;
	background-color: darkgray;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
	color: #000;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 90%;
	padding: 0.5rem 1rem;
	background-color: #2db53d;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 3px solid #000;
    background-color: #0000;
}

@media screen and (max-width: 800px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	
}