@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');




.App{
  display: flex;
  background-color: black;
  background-size: cover;
  overflow: clip;

  
}

.LandingPage{
  display: flex;
  align-items: center;
  overflow: clip;
  height: 100vh;
  justify-content: center;

}
.text{
display: flex;
flex-direction: column;
font-family: 'Dela Gothic One', sans-serif;
justify-content: center;
align-items: center;
overflow: clip;

}

.text h1{
  font-family: 'Dela Gothic One', sans-serif;
  z-index: 4;
}



@media screen and (max-width:800px) {
  .LandingPage .text h1{
    justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  
  }
}


