*{
    margin: 0;
    padding: 0;
}

.About1{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.Aboutp{
    margin: auto;
    position: absolute;
    top: 50vh;
  }

  .Aboutp p{
    align-items: center;
    text-align: center;
    color: white;
  }



