* {
  margin: 0.3rem;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: start;
  display: flex;
  flex-direction: column;
  background-color: black;
  background-size: cover;
  height: 100vh;

}

.images{
  display: flex;
  float: right;
  align-items:right;

}


