@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
*{
    font-family: 'Dela Gothic One', sans-serif;
    padding: 0;
    overflow: hidden;
}

.navMenu{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 98vw;
    border-bottom: 1px solid white;
    animation: fadeIn 0.2s 0.3s backwards;
    position: fixed;
    top:0;
    transition: top 0.3s;
    margin-top: 1rem;
    margin-left: 1rem;
    z-index: 10;
    background-color: black;
    background-size: cover;
}

.navMenu h1{
font-family: 'Dela Gothic One', sans-serif;
text-decoration: none;
color: white;
margin:2rem;
text-transform: uppercase;
font-size: 1.5rem;

transition: all .1s ease-in;
overflow: hidden;
}

 .navMenu h1:hover{
    transform: scale(1.15);
    margin: 2rem;
}

@media screen and (max-width:436px) {
    *{
        overflow: visible;
    }
    .navMenu{
        width: 100vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 0;

    }

    table{

        display: flex;

        justify-content: space-between;
        margin-top: 0;

    }
    .navMenu h1{
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        overflow: visible;
        font-size: 1rem;

    }

    
}
