@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*{
    color: white;
}
tr{
    display: flex;
}
html a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.landing{
    max-width: 380px; 
    height:740px;
    }
.contact{
    max-width: 380px; 
    height:740px; 
    }

    .left{
        height: 50%;
        width: 100%;
        flex-direction: column;
        margin-right: 0;
        justify-content: center;
    }
    .right{
        justify-content: center;
        width: 800px;
    }/*
    .right td{
        justify-content: center;
        width: 100%;
    }*/
    .right td{
        justify-content: center;
        align-items: right;
    }
    
    
    table {
        width: 100vw;
        border-collapse: collapse;
        margin-top: 8rem;
    }
    
    th, td {
        text-align: center;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .crewchief{
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .crewchief td h1{
        justify-content: center;
        height: 50%;
        text-transform: uppercase;
        font-size: 4em;
        font-style: italic;
    transition: all .1s ease-in;
    margin: 1rem;
    }

    .crewchief td h1:hover{
        transform: scale(1.05);
    }

    .crewchief td ul li{
        text-decoration: none;
        list-style-type:none;
        font-size: 1rem;

    }

    @media screen and (max-width:436px) {
        .crewchief{
            display: flex;
            width: 100vw;
        }

        .left td ul{
            text-align: center;
            padding-left: 0;
        }

        table .crewchief{
            display: table-column;
        }

        .crewchief td h1{
            font-size: 2rem;
        }


        .crewchief td ul li{
            font-size: 1.5rem;
            text-align: center;
        }

        .right{
            margin-left: 0;
            position: relative;
            flex-direction: column;
            width: 100vw;
        }
        .right td{
            display: flex;
            justify-content: center;
            width: 100vw;


        }

        .right td img{
            width: 100%;
            padding: 0;
            margin-top: 1rem;
            align-items: center;

        }
        
    }