@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*{
    color: white;
}

.Table1{
    margin-top:8rem;
    z-index: 400;
    overflow: visible;

}

.links{
    text-decoration: none;
    color: white;
}



.row{
    width: 100vw;
    display: flex;
}




.landing{
    width: 380px; 
    height: 740px;
    transition: all .1s ease-in;
}

.landing:hover{
transform: scale(1.05);
    }
.contact{
    min-width: 380px; 
    height:740px; 
    transition: all .1s ease-in;
    }

    .contact:hover{
        transform: scale(1.05);
    }


    .left{
        width: 50vw;
        flex-direction: column;
        margin-right: 0;
        justify-content: center;
        display: flex;
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 50vw;
    }
   
    
    
    
    
    th, td {
        text-align: center;
    }
    
    th {
        background-color: #f2f2f2;
    }
    



        td h1{
        justify-content: center;
        text-transform: uppercase;
        font-size: 4em;
        font-style: italic;
        transition: all .1s ease-in;
    }

    td h1:hover{
        transform: scale(1.1);
    }
    td ul li{
        text-decoration: none;
        list-style-type:none;
        font-size: 1rem;
    }




    @media screen and (max-width:436px) {
        
        .crewchief{
            display: inline;
            width: 100vw;
        }

        .left td ul{
            text-align: center;
            padding-left: 0;
        }

        table .crewchief{
            display: table-column;
        }

        .crewchief td h1{
            font-size: 2rem;
        }


        .crewchief td ul li{
            font-size: 1.5rem;
            text-align: center;
        }

        .right{
            margin-left: 0;
            position: relative;
            flex-direction: column;
            width: 100vw;
        }
        .right td{
            display: flex;
            justify-content: center;
            width: 100vw;
        }

        

        .right td img{
            width: 100%;
            padding: 0;
            margin-top: 1rem;
            align-items: center;
           

        }
        
    }